@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    color: green;
    font-family: 'VT323', monospace;
}

body {
    background: url("assets/CLI.gif") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

#header_page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 10rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

p {
    position: relative;
    top: -50px;
    left: -510px;
    font-size: 30px;
    margin-top: 0;
}

#content_list {
    font-size: 30px;
    border: 2px solid green;
    width: 500px;
}

#header {
    background: linear-gradient(to right,#148019,#044e07);
    color: white;
    display: flex;
    width:auto;
    padding-left: 15px;
    position: relative;
    top: -40px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    box-shadow: 2px 2px 0px gray;
}

#links {
    margin-top: -60px;
}

.blink {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}