body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", 
    "Lucida Sans", Arial, sans-serif;
    background: linear-gradient(45deg, #434343 0%, #3a3a3a 100%);
    margin: 0;
    padding-top: 65px;
    text-align: center;
    color: #ffffff;
    line-height: 1.6;
}

.fixed-header {
position: fixed;
top: 0;
left: 0;
width: 100%;
background: linear-gradient(to left, #434343, #c40000);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
text-align: left;
z-index: 1000;
height: 85px;
}

.fixed-header h1 {
    margin-left: 25px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

.container {
    width: 70%;
    margin: 30px auto;
    background: #810a0a;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

#about,
#interests_and_hobbies_page,
#work_page,
#goals_page,
#testimonial_page,
#gallery,
#info_page,
#contact_page,
#comment_page {
    width: 70%;
    margin: 20px auto;
    background: #434343d7;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

h2, h3 {
    color: #ffffff;
    background: linear-gradient(to right, #930000, #a30000);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-top: 0%;
    letter-spacing: 1px;
}

ul, ol {
    padding: 0;
    list-style-position: inside;
}

li {
    padding: 8px;
    font-size: 15px;
    margin: 10px 0;
    background: rgba(140, 130, 130, 0.825);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(227, 222, 222, 0.05);
    transition: all 0.3s ease;
    list-style: none;
}

li:hover {
    background: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    color: rgb(255, 255, 255);
}

img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.395);
    margin: 10px auto;
    border: 5px solid #7a0000;
    transition: all 0.3s ease;
    object-fit: cover;
}

#gallery img {
    width: 130px;
    height: 130px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

#contact_page input,
#contact_page textarea,
#contact_page button,
#contact input,
#contact textarea,
#contact button,
.add-comment-page textarea,
.add-comment-page input {
    width: 70%;
    padding: 12px;
    margin: 15px auto;
    color: rgb(0, 0, 0);
    border: solid 1px #000000;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 4px 15px rgba(248, 231, 236, 0.4);
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    background-color: #b4b0b0;
    
}

#contact_page input:hover,
#contact_page textarea:hover,
#contact_page button:hover,
#contact input:hover,
#contact textarea:hover,
#contact button:hover,
.add-comment-page textarea:hover,
.add-comment-page button:hover,
.add-comment-page input:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.3);
    background-color: rgb(255, 255, 255);
}

#contact_page button,
#contact button,
.add-comment-page button {
    width: 50%;
    padding: 12px;
    background: linear-gradient(to right, #7b0e0e, #ff0000);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(248, 231, 236, 0.4);
    letter-spacing: 1px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .container,
    #about,
    #interests_and_hobbies_page,
    #work_page,
    #goals_page,
    #testimonial_page,
    #gallery,
    #contact,
    #comment_page {
        width: 85%;
        padding: 20px;
    }

    #contact-page input,
    #contact-page textarea,
    #contact-page button,
    #contact input,
    #contact textarea,
    #contact button {
        width: 80%;
    }

    #gallery img {
        width: 130px;
        height: 130px;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .container,
    #about,
    #interests_and_hobbies_page,
    #work_page,
    #goals_page,
    #testimonial_page,
    #gallery,
    #contact,
    #comment_page
    .add-comment-page {
        width: 90%;
        padding: 15px;
    }

    .comment-page input,
    .comment-page textarea,
    .comment-page button,
    #contact input,
    #contact textarea,
    #contact button {
        width: 90%;
    }

    #gallery img {
        width: 100px;
        height: 100px;
        margin: 5px;
    }

    img {
        height: 120px;
        width: 120px;
    }
}
